* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/

html, body{
    min-height: 100vh;
    min-width: 800px;  
    scroll-behavior: smooth; 
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #f4f1ea;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #00d4ff;
}

.scroll-container {
    display: block;
    overflow-y: scroll;
}

.scroll-page {
    display: flex;
}

#container-one { 
    display: flex;
    flex-direction: column;
}

#container-two { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#container-three { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-four {
    display: flex;
}

#container-five {
    display: flex;
}

#bg-one {
    box-sizing: border-box;
    background: rgb(6,10,18);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  
    url("img/STScI-01GCVNZWZ8GNRA1VPGSWS5KR85.png");
    /*Neptune Wide-Field (NIRCam Image) Credit:NASA, ESA, CSA, and STScI 
    https://esawebb.org/images/weic2214d/ */
    min-height: 100vh;
    min-width: 100vh;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

#bg-two {
    background: rgb(6,10,18);
    background: linear-gradient(180deg, 
    rgba(6,10,18,1) 30%, 
    rgba(17,25,46,1) 60%, 
    rgba(34,51,93,1) 90%);
    min-height: 100vh;
    min-width: 100vh;
}

#bg-three {
    background: rgb(6,10,18);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  
    url("img/PIA21629_FigA_Neptune_-_RGB_-_August_10_2017_-_V2.png");
     /*Neptune Wide-Field (NIRCam Image) Credit:NASA, ESA, CSA, and STScI 
    https://esawebb.org/images/weic2214d/ */
    min-height: 100vh;
    min-width: 100vh;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
}

#bg-four {
    background: rgb(6,10,18);
    min-height: 100vh;
    min-width: 100vh;
}

#bg-five {
    background: rgb(6,10,18);
    min-height: 100vh;
    min-width: 100vh;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.moons-of-neptun {
    align-self: flex-start;
    height: auto;
    margin: 16px;
    background-color: transparent;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em;
}

.nav-item {
    text-align: center; 
    font-size: 20px; 
    line-height: 30px;
    letter-spacing: 1px; 
    color: gray;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300; 
    padding: 10px; 
}

/* intro page */

.intro-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading-one {
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    color:  #d8d8d8;
    padding: 10px;
}

.heading-two {
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 20px;
}

#neptune-animation { 
    align-self: center;
    background-color: transparent;
   }
 
 .neptun-text {
     align-self: center;
     font-size: 18px;
     line-height: 20px;
     font-weight: 300;
     letter-spacing: 2;
     font-family: 'Open Sans', sans-serif;
     font-style: italic;
     color: grey;
     text-align: center;
     padding: 25px;
     margin-top: 15px;
 }
 
 .typing-banner {
     display: inline-block;
     align-items: center; 
 }
 
 .typing-text {
     text-align: center; 
     flex-basis: min-content;
     /* Content is hidden until animation start */
     overflow: hidden;
     /* Typwriter cursor */
     border-right: 4px solid #00d4ff;
     /* Singel line */
     white-space: nowrap;
     font-size: 12px; 
     color: gray;
     letter-spacing: 2px; 
     text-transform: uppercase;
     font-family: 'Ubuntu Mono', monospace;
     animation: 
      typing 8.5s steps(46, end),
      blink-cursor .75s step-end infinite;
 }

/* History page */

.page-header { /* repeat header for all pages */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.carousel {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    scroll-behavior: smooth;
}

.carousel::before {
    content: "";
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.slides {
    width: 800px;
    height: 500px;
    display: flex;
    gap: 20px;
    padding: 16px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

}

.slides {
    
}

/* Mission page */

.odyssey-section {
    display: flow-root;
    position: relative;
    background: rgb(6,10,18);
    background-image: linear-gradient(0deg, 
    rgba(6,10,18,1) 45%, 
    rgba(17,25,46,1) 75%, 
    rgba(34,51,93,1) 100%);
    height: 250px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 65%;
    height: auto;
    
}

.odyssey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.odyssey-video { 
    float: center;
    align-items: center;
    margin-top: 60px;
   
}

.odyssey-section p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 2;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    margin-top: 30px;
    text-align: center; 
    align-self: center; 
}



/* Page four */

/* Page five */


  /* typing effect*/
  @keyframes typing {
    from { 
        width: 0 
    }
    to { 
        width: 100% 
    }
  }

/* typewriter cursor effect*/
@keyframes blink-cursor {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #00d4ff 
    }
  }

